header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1px 40px;
 background-color: #000;
 border-bottom: 4px solid #c9a83e;
 font-family: Georgia, 'Times New Roman', Times, serif;
}

.logo {
 width: 130px;
}

nav ul {
 display: flex;
 list-style: none;
}

nav ul li {
 margin-left: 25px;
 display: flex;
 align-items: center;
}

nav ul li a {
 color: #fff;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 16px;
 letter-spacing: 1px;
 transition: color 0.3s;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
 color: #c9a83e;
}

.dropdown {
 position: relative;
  height: 40px; 
}

.dropdown-btn {
 background-color: #000000;
 color: #ffffff;
 padding: 10px 15px;
 border: none;
 font-size: 17px;
 cursor: pointer;
 border-radius: 8px;
 font-weight: bold;
 text-transform: uppercase;
 transition: 0.3s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  position: relative; 
  z-index: 1000; 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.dropdown-btn:hover {
 background-color: #d8b54a;
 transform: translateY(-2px);
}

.dropdown-menu {
 position: absolute;
 top: 43px;
 right: 0;
 width: 190px;
 background: #111;
 border: 1px solid #d3a819;
 border-radius: 10px;
 list-style: none;
 padding: 0; 
 display: none;
 z-index: 999;
 opacity: 0;
 transform: translateY(10px);
 box-shadow: 0 6px 16px rgba(0,0,0,0.4);
}


.dropdown:hover .dropdown-menu {
 display: block;
 opacity: 1;
 transform: translateY(0);
}


.dropdown-menu li {
 margin: 0;
 padding: 0;
 display: block; 
}

.dropdown-menu li a {
 display: block;
 padding: 12px 0px; 
 text-transform: uppercase;
 font-weight: bold;
 font-size: 13.5px;
 color: #fff;
 text-decoration: none;
 white-space: nowrap;
 transition: all 0.2s ease;
 text-align: center;
}

.dropdown-menu li a:hover {
 background-color: rgba(201,168,62,0.18);
 color: #c9a83e;
 border-radius: 10%;
}

@media (max-width: 992px) {
    header {
        padding: 10px 20px;
    }

    nav ul li {
        margin-left: 18px;
    }

    .dropdown-btn {
        font-size: 15px;
        padding: 8px 12px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .logo {
        width: 110px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px 15px;
        text-align: center;
    }

    .logo {
        margin-bottom: 10px;
        width: 110px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav ul li {
        margin: 0 8px;
    }

    .dropdown-menu {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        gap: 6px;
    }

    .logo {
        width: 95px;
    }

    nav ul li a,
    .dropdown-btn {
        font-size: 13px;
    }

    .dropdown-menu {
        width: 160px;
    }

    .dropdown-menu li a {
        font-size: 13px;
    }
}
