<header>
    <img src="https://assets-persist.lovart.ai/agent_images/828d45c7-f4b4-4c15-a4a5-a65bcb3edaf4.png" class="logo">
    <nav>
        <ul>
            <li>
                <a routerLink="/">Inicio</a>
            </li>

            @if (authService.getUserRole() === 'INSTRUCTOR') {
                <li>
                    <a routerLink="/activity-list/my-activities">Mis actividades</a>
                </li>

                <li>
                    <a routerLink="/instructors/members">Socios</a>
                </li>

                <li>
                    <a routerLink="/instructors/register-member">Registrar socio</a>
                </li>
            } @else {
                <li>
                    <a routerLink="/activity-list">Actividades</a>
                </li>
            }

            @if(authService.getUserRole() === 'ADMIN') {
                <li>
                    <a routerLink="/users">Usuarios</a>
                </li>
                <li>
                    <a routerLink="/admin/register">Registrar</a>
                </li>
            }
            
            @if (!authService.isLoggedIn()) {
                <li>
                    <a routerLink="/public/login">Iniciar sesión</a>
                </li>
                <li>
                    <a routerLink="/public/register">Registrarse</a>
                </li>
            }
            
            @if (authService.isLoggedIn()) {
                <li>
                    <a routerLink="/profile">Perfil</a>
                </li>
                <li>
                    <a (click)="logout()" style="cursor: pointer;">Cerrar sesión</a>
                </li>
            }
        </ul>
    </nav>
</header>


  


