header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 40px;
 background-color: #000;
 border-bottom: 4px solid #c9a83e;
}

.logo {
 width: 180px;
}

nav ul {
 display: flex;
 list-style: none;
}

nav ul li {
 margin-left: 25px;
 display: flex;
 align-items: center;
}

nav ul li a {
 color: #fff;
 text-decoration: none;
 text-transform: uppercase;
 font-weight: bold;
 font-size: 16px;
 letter-spacing: 1px;
 transition: color 0.3s;
 text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav ul li a:hover {
 color: #c9a83e;
}

.dropdown {
 position: relative;
  height: 40px; 
}

.dropdown-btn {
 background-color: #c59805;
 color: #000;
 padding: 10px 20px;
 border: none;
 font-size: 15px;
 cursor: pointer;
 border-radius: 8px;
 font-weight: bold;
 text-transform: uppercase;
 transition: 0.3s ease;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  position: relative; 
  z-index: 1000; 
}

.dropdown-btn:hover {
 background-color: #d8b54a;
 transform: translateY(-2px);
}

.dropdown-menu {
 position: absolute;
 top: 55px;
 right: 0;
 width: 190px;
 background: #111;
 border: 1px solid #c9a83e;
 border-radius: 10px;
 list-style: none;
 padding: 0; 
 display: none;
 z-index: 999;
 opacity: 0;
 transform: translateY(10px);
 box-shadow: 0 6px 16px rgba(0,0,0,0.4);
}


.dropdown:hover .dropdown-menu {
 display: block;
 opacity: 1;
 transform: translateY(0);
}


.dropdown-menu li {
 margin: 0;
 padding: 0;
 display: block; 
}


.dropdown-menu li a {
 display: block;
 padding: 12px 0px; 
 text-transform: uppercase;
 font-weight: bold;
 font-size: 14px;
 color: #fff;
 text-decoration: none;
 white-space: nowrap;
 transition: all 0.2s ease;
 text-align: center; 
}

.dropdown-menu li a:hover {
 background-color: rgba(201,168,62,0.18);
 color: #c9a83e;
 border-radius: 10%;
}