<div class="routine-list-container">
  <div class="header-section">
    <h2>Listado de Rutinas</h2>
    <button class="btn btn-primary create-button" (click)="createRoutine()">
      + Crear Nueva Rutina
    </button>
  </div>

  <div *ngIf="errorMessage" class="alert error-message">
    {{ errorMessage }}
  </div>

  <table class="routine-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nivel</th>
        <th>Objetivo</th>
        <th>Semanas</th>
        <th>Días/Semana</th>
        <th>Creado Por</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
  <tr *ngFor="let routine of routines$ | async" class="routine-row-link">
     <!-- agregar ruta de detalle de rutina -->
    <td data-label="Nombre">{{ routine.name }}</td>
    <td data-label="Nivel">{{ routine.level }}</td>
    <td data-label="Objetivo">{{ routine.goal }}</td>
    <td data-label="Semanas">{{ routine.durationWeeks }}</td>
    <td data-label="Días/Semana">{{ routine.daysPerWeek }}</td>
    <td data-label="Creado Por">{{ routine.createdBy }}</td>
    
    <td data-label="Acciones">
      <button class="btn btn-edit" (click)="$event.stopPropagation(); editRoutine(routine.id)">
        Editar
      </button>
      <button 
        class="btn btn-delete" 
        (click)="$event.stopPropagation(); deleteRoutine(routine.id, routine.name)">
        Eliminar
      </button>
    </td>
  </tr>
</tbody>
  </table>

  <div *ngIf="!(routines$ | async)?.length && !errorMessage" class="no-data-message">
    No se encontraron rutinas. 
  </div>
</div>